body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.instructions {
    color: #ece7e7;
}




input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

/* .navbar {
  width: 100%;
  border-radius: 0px;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}


.stop {
    left: 45%;
    font-size: 10px;
    width: 140px;
    height: 60px;
    background-color:red;
    border-color:red;
    position: absolute;
    top: 50%;
    border-radius: 92px 98px 98px 98px;
    -moz-border-radius: 92px 98px 98px 98px;
    -webkit-border-radius: 92px 98px 98px 98px;
}

.start {
    left: 45%;
    font-size: 10px;
    width: 140px;
    height: 60px;
    background-color: green;
    border-color: green;
    position: absolute;
    top: 50%;
    border-radius: 92px 98px 98px 98px;
    -moz-border-radius: 92px 98px 98px 98px;
    -webkit-border-radius: 92px 98px 98px 98px;
    
}



.time-display {
    text-align: center;
    left: 25%;
    font-size: 100px;
    width: 50%;
    height: 15%;
    position: absolute;
    top: 60%;
    background-color: grey;
    border-radius: 118px 118px 118px 118px;
    -moz-border-radius: 118px 118px 118px 118px;
    -webkit-border-radius: 118px 118px 118px 118px;
    border: 0px solid #000000;
   
    
}


.complete-btn{
    left: 45%;
    font-size: 10px;
    width: 140px;
    height: 60px;
    background-color: yellow;
    border-color: yellow;
    position: absolute;
    top: 40%;
    border-radius: 92px 98px 98px 98px;
    -moz-border-radius: 92px 98px 98px 98px;
    -webkit-border-radius: 92px 98px 98px 98px;

}

.img{
    height: 100%;
    width: 100%;

    border-radius: 92px 98px 98px 98px;
    -moz-border-radius: 92px 98px 98px 98px;
    -webkit-border-radius: 92px 98px 98px 98px;
}



.login{
    margin: 0 auto; 
    margin-top: 15%;
    width:250px;
}


.loginImg{
    height: 100%;
    width: 100%;

    border-radius: 92px 98px 98px 98px;
    -moz-border-radius: 92px 98px 98px 98px;
    -webkit-border-radius: 92px 98px 98px 98px;
 
}

html body{
    background: rgb(209,43,43);
    background: radial-gradient(circle, rgba(209,43,43,1) 0%, rgba(108,113,115,1) 100%);
    font-family: Tahoma, Geneva, sans-serif;

}
